.card-deck--usps {
  width:auto;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
}

.card--usps {
  width: 200px;
  margin: 1rem;
  //min-width: 50%;
  //flex: 1 0 200px;
  border: 0;
  .card-img {
    max-width: 4rem;
  }
  .card-title {
    font-weight: bold;
  }
  .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    .card-body {
      padding-left: 1rem;
      padding-top: 0;
    }
  }
}

.list--usps {
  margin: 0;
  padding: 0;
  list-style: none;
  .item-title {
    margin: 0;
  }
  .item {
    position: relative;
    margin: 0 0 3rem 0;
    padding: 0 0 0 5rem;
  }
  .item-img {
    position: absolute;
    max-width: 52px;
    left: 0;
    top: 0;
  }
}
