<main role="main">

  <section class="sizing--section bg-white">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-12">
          <h2>
            About Cryptoprins
          </h2>
          <h3>
            Who we are
          </h3>
          <p>
            Founded in April 2017, Cryptoprins is an online served based trading bot that focussed on a easy of use and secure bot. Our mission is to create an botnetwork accesible for the world to use. We believe in cryptocurrency and think has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with deskt.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Our mission</h3>
          <h5>Be the most trusted</h5>
          <p>
            In everything we do, we want to became the must trusted bot on the market. Trust is what the customers have with us as a company. It requires as to deliver high class security, technoligy, support, design and more.
          </p>
          <h5>Be the Easiest to use</h5>
          <p>
            The cryptocurrency market gives a lot of benifits, but these will not be accessible for most people unless it is easy to use. Cryptoprins provides high quality design and tutorials to help every custommer to acces these benifits.
          </p>
          <h5>Be the best</h5>
          <p>
            It is important to deliver the best results and possiblet our customers. This is the reason Princebot is a machine learning based algorithm that learns from the market every second. has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
          </p>
        </div>
      </div>
    </div>
  </section>

</main>
