<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a class="footer-brand" href="#">
          <img src="/assets/images/logo2.png" alt="Cryptoprins" />
          CRYPTOPRINS
        </a>
        <div class="copyright">
          2017 CryptoPrins All rights reserved
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <h5>LEARN MORE</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/how-it-works">How it Works</a></li>
              <li><a routerLink="/plans-and-pricing">Pricing & Plans</a></li>
              <li><a routerLink="/whitepaper">Whitepaper</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5>SUPPORT</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/faq">FAQ</a></li>
              <li><a routerLink="/contact">Contact</a></li>
              <li><a routerLink="/forums">Forums</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5>ABOUT US</h5>
            <ul class="list-unstyled">
              <li><a routerLink="/about-us">About Us</a></li>
              <li><a routerLink="/careers">Careers</a></li>
              <li><a routerLink="/terms-of-service">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5>SOCIAL</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i>Facebook</a></li>
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i>Youtube</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>Twitter</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>M</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>Hashtag</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>Bitcoin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
