<main role="main">

  <section class="sizing--section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Plans & Pricing</h2>
          <p>
            find the plan that suites for you
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card-deck card-deck--pricing">
            <div class="card card--pricing text-center">
              <div class="card-header">
                <h4>FREE</h4>
                upgrade any time
              </div>
              <div class="card-body">
                <ul class="card-usps">
                  <li>Acces to our forum</li>
                  <li>Recieve the newsletter</li>
                </ul>
              </div>
              <div class="card-footer">
                <a class="btn btn-link" href="">More information</a>
              </div>
            </div>
            <div class="card card--pricing text-center">
              <div class="card-header">
                <h4>SIMPLE</h4>
                <div class="price--btc">0.3 BTC</div>
                <div class="price--period">per month</div>
              </div>
              <div class="card-body">
                <ul class="card-usps">
                  <li>Full trade acces to the Prinsbot</li>
                  <li>Up to 25.000$ trade volume</li>
                  <li>Full support</li>
                  <li>Acces to our forum</li>
                  <li>be able to customize signals</li>
                  <li>acces to our trend page</li>
                </ul>
              </div>
              <div class="card-footer">
                <a class="btn btn-primary btn-block" href="">Signup</a>
              </div>
            </div>
            <div class="card card--pricing text-center">
              <div class="card-header">
                <h4>ADVANCED</h4>
                <div class="price--btc">0.3 BTC</div>
                <div class="price--period">per month</div>
              </div>
              <div class="card-body">
                <ul class="card-usps">
                  <li>Full trade acces to the Prinsbot</li>
                  <li>Up to 25.000$ trade volume</li>
                  <li>Full support</li>
                  <li>Acces to our forum</li>
                  <li>be able to customize signals</li>
                  <li>acces to our trend page</li>
                </ul>
              </div>
              <div class="card-footer">
                <a class="btn btn-link" href="">More information</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>


</main>
