<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.png" alt="Cryptoprins" />
    CRYPTOPRINS
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">How it works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Plans & Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Flag</a>
      </li>
    </ul>
  </div>
</nav>



<header class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-center text-sm-left">
          <h1>WHOLE SUITE FOR YOUR CRYPTO BUSINESS.</h1>
          <p class="my-3">
            Take control of the market with PrinceBot.<br />
            Stop Losing and start making money today.
          </p>
          <a class="btn btn-primary my-2" href="">Promo Video</a>
          <a class="btn btn-secondary my-2" href="">How it works</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main">

  <section class="sizing--section bg-white">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-12">
          <h2>
            The daytrade bot that works for you
          </h2>
          <p>
            No more stress watching your cryptocurrency.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <img src="/assets/images/screenshot1.png" class="img-fluid mb-3 mb-md-0" alt="" />
        </div>
        <div class="col-md-4">
          <p>
            A machine learning trading bot
          </p>
          <p>
            With over a 1000 indcators getting trained every second of the day, Prinsbot remembers the best possible trading strategy and responds to the market.
          </p>
        </div>
      </div>
    </div>
  </section>


  <section class="sizing--section bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-sm-flex align-items-center text-center text-sm-left">
            <h2 class="my-3 mr-sm-3">
              Start trading with CryptoPrins today
            </h2>
            <a class="btn btn-primary" href="">Pricing & Plans</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2>Plans & Pricing</h2>
          <p>
            find the plan that suites for you
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-12">
          <div class="card-deck card-deck--pricing">
            <div class="card card--pricing text-center">
              <div class="card-header">
                <h4>FREE</h4>
                upgrade any time
              </div>
              <div class="card-body">
                <ul class="card-usps">
                  <li>Acces to our forum</li>
                  <li>Recieve the newsletter</li>
                </ul>
              </div>
              <div class="card-footer">
                <a class="btn btn-link" href="">More information</a>
              </div>
            </div>
            <div class="card card--pricing text-center">
              <div class="card-header">
                <h4>SIMPLE</h4>
                <div class="price--btc">0.3 BTC</div>
                <div class="price--period">per month</div>
              </div>
              <div class="card-body">
                <ul class="card-usps">
                  <li>Full trade acces to the Prinsbot</li>
                  <li>Up to 25.000$ trade volume</li>
                  <li>Full support</li>
                  <li>Acces to our forum</li>
                  <li>be able to customize signals</li>
                  <li>acces to our trend page</li>
                </ul>
              </div>
              <div class="card-footer">
                <a class="btn btn-primary btn-block" href="">Signup</a>
              </div>
            </div>
            <div class="card card--pricing text-center">
              <div class="card-header">
                <h4>ADVANCED</h4>
                <div class="price--btc">0.3 BTC</div>
                <div class="price--period">per month</div>
              </div>
              <div class="card-body">
                <ul class="card-usps">
                  <li>Full trade acces to the Prinsbot</li>
                  <li>Up to 25.000$ trade volume</li>
                  <li>Full support</li>
                  <li>Acces to our forum</li>
                  <li>be able to customize signals</li>
                  <li>acces to our trend page</li>
                </ul>
              </div>
              <div class="card-footer">
                <a class="btn btn-link" href="">More information</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>

</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a class="footer-brand" href="#">
          <img src="/assets/images/logo2.png" alt="Cryptoprins" />
          CRYPTOPRINS
        </a>
        <div class="copyright">
          2017 CryptoPrins All rights reserved
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-3">
            <h5>LEARN MORE</h5>
            <ul class="list-unstyled">
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Pricing & Plans</a></li>
              <li><a href="#">Whitepaper</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5>SUPPORT</h5>
            <ul class="list-unstyled">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Forums</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5>ABOUT US</h5>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <h5>SOCIAL</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="twitter"><i class="fa fa-twitter"></i>Facebook</a></li>
              <li><a href="#" class="facebook"><i class="fa fa-facebook"></i>Youtube</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>Twitter</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>M</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>Hashtag</a></li>
              <li><a href="#" class="google"><i class="fa fa-google-plus"></i>Bitcoin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
