<header class="sizing--section bg-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 text-center">
        <div class="header-content--page">
          <h1>
            Here’s how it works
          </h1>
          <p class="lead slate">
            In-depth look into our technology
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main">

  <section class="sizing--section bg-white section--how">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9">
          <div class="row flex-row-reverse">
            <div class="col-12 col-md-5 text-md-right">
              <img src="/assets/images/usps/analytics.svg" class="w-100" alt="Setup your account">
            </div>
            <div class="col-12 col-md-7 ">
              <h3>Setup your account</h3>
              <p>
                Link your Cryptoprins account to one of our supported exchanges. Setup your security settings like authentications and more. We will never have the option to withdrawl your funds, day stay in your own wallet all the time. For questions go to our support page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-white section--how">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9">
          <div class="row">
            <div class="col-12 col-md-5 text-md-left">
              <img src="/assets/images/usps/analytics.svg" class="w-100" alt="Setup your account">
            </div>
            <div class="col-12 col-md-7 ">
              <h3>Setup your account</h3>
              <p>
                Link your Cryptoprins account to one of our supported exchanges. Setup your security settings like authentications and more. We will never have the option to withdrawl your funds, day stay in your own wallet all the time. For questions go to our support page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-blue section--how">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9">
          <div class="row flex-row-reverse">
            <div class="col-12 col-md-5 text-md-right">
              <img src="/assets/images/usps/analytics.svg" class="w-100" alt="Setup your account">
            </div>
            <div class="col-12 col-md-7 ">
              <h3>Setup your account</h3>
              <p>
                Link your Cryptoprins account to one of our supported exchanges. Setup your security settings like authentications and more. We will never have the option to withdrawl your funds, day stay in your own wallet all the time. For questions go to our support page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-blue section--how">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-12 col-lg-9">
          <div class="row">
            <div class="col-12 col-md-5 text-md-left">
              <img src="/assets/images/usps/analytics.svg" class="w-100" alt="Setup your account">
            </div>
            <div class="col-12 col-md-7 ">
              <h3>Setup your account</h3>
              <p>
                Link your Cryptoprins account to one of our supported exchanges. Setup your security settings like authentications and more. We will never have the option to withdrawl your funds, day stay in your own wallet all the time. For questions go to our support page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="sizing--section bg-white--two">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 text-center">
          <div class="section__header">
            <h2>
              The best all-round
            </h2>
            <p>
              Prinsbot will simplify the way you manage your portfolio
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <p>
    		      Prinsbot is an automated trading service. Our <a href="https://en.wikipedia.org/wiki/Machine_learning" title="Wikipedia &quot;Machine Learning&quot;" target="_blank">machine learning</a> models use indicators and market data to predict prices and create profitable trade strategies.
          </p>
          <p>
  					Using these predictions, Prinsbot will automatically move your funds into the most promising cryptocurrency. We look for coins with high market capitalisation and low volatility because this enables Prinsbot to create steady and reliable profits. Right now Prinsbot trades between Bitcoin, Ethereum, Litecoin and Ripple.
          </p>
          <hr class="hr--lg">
          <p>
            Currently Bittrex is our only supported exchange. We plan on adding more exchanges in the future.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9 text-center">
          <div class="section__header">
            <h2>
              The CryptoPrins Team
            </h2>
            <p>
              Find out why the Prinsbots beats the competition
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <p>
            Along with conventional advertising and below the line activities, organizations and corporate bodies have come to realize that they need to invest in trade shows in order to create maximum recall for their product or brand name. There are several benefits to participating in a trade show. Some of them are
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
