<main role="main">

  <section class="sizing--section bg-white">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-12 col-sm-9">
          <h2>
            How it works
          </h2>
          <p>
            find out why the Prinsbots beats the competition
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            Prinsbot is an advance machine learning bot that is watching the market every second. The bot has been trained on the markets data from the last 2 years. This way he learned to make decision for the market of today. With the help of more than a 1000 indicators like Moving average, Bollinger and RSI he will predict the right move for your currency.
          </p>
          <p>
            Prinsbot is easy to use and accessible on any device. This way you will always know what the bot is doing without sitting behind your computer. We believe that our software is diverse enough for the beginner and powerful for the professional.
          </p>
          <p>
            Interested in a more in-depth look in our technology?<br />
            Read the whitepaper online below.
          </p>
          <a class="btn btn-link" href="#">See whitepaper.pdf</a>
        </div>
      </div>
    </div>
  </section>

</main>
