<header class="bg-blue--gradient">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-8">
        <div class="text-center text-sm-left">
          <div class="header-content">
            <h1>
              AUTOMATED TRADING MADE EASY
            </h1>
            <p class="lead my-3">
              Take control of the market with PrinceBot.<br /> Stop Losing and start making money today.
            </p>
            <a class="btn btn-primary my-2" href="">Promo Video</a>
            <a class="btn btn-secondary my-2" href="">How it works</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <img class="header-img" src="/assets/images/devices/macbook-dashboard.png" alt="Link">
      </div>
    </div>
  </div>
</header>

<main role="main">

  <section class="sizing--section bg-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 text-center">
          <div class="section__header">
            <h2>
              How it works
            </h2>
            <p>
              See here how the most advanced trading bot of the market works
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card-deck--usps">
            <div class="card card--usps">
              <img class="card-img card-img-top" src="/assets/images/usps/analytics.svg" alt="Link">
              <div class="card-body">
                <h5 class="card-title">link</h5>
                <p class="card-text">
                  Link CryptoPrins to your exchange.
                </p>
              </div>
            </div>
            <div class="card card--usps">
              <img class="card-img card-img-top" src="/assets/images/usps/analytics.svg" alt="Link">
              <div class="card-body">
                <h5 class="card-title">link</h5>
                <p class="card-text">
                  Link CryptoPrins to your exchange.
                </p>
              </div>
            </div>
            <div class="card card--usps">
              <img class="card-img card-img-top" src="/assets/images/usps/analytics.svg" alt="Link">
              <div class="card-body">
                <h5 class="card-title">link</h5>
                <p class="card-text">
                  Link CryptoPrins to your exchange.
                </p>
              </div>
            </div>
            <div class="card card--usps">
              <img class="card-img card-img-top" src="/assets/images/usps/analytics.svg" alt="Link">
              <div class="card-body">
                <h5 class="card-title">link</h5>
                <p class="card-text">
                  Link CryptoPrins to your exchange.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-white--gradient">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-9 text-center">
          <div class="section__header">
            <h2>
              Easy to use, everywhere
            </h2>
            <p>
              everwhere acces to see the latest moves of your prince bot.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1">
          <ul class="list--usps">
            <li class="item">
              <img class="item-img" src="/assets/images/usps/analytics.svg" alt="Link">
              <h6 class="item-title">SECURE STORAGE</h6>
              <p class="item-text">
                You are keeping the controle over your own exchange and your information is always safely encrypted.
              </p>
            </li>
            <li class="item">
              <img class="item-img" src="/assets/images/usps/analytics.svg" alt="Link">
              <h6 class="item-title">SECURE STORAGE</h6>
              <p class="item-text">
                You are keeping the controle over your own exchange and your information is always safely encrypted.
              </p>
            </li>
            <li class="item">
              <img class="item-img" src="/assets/images/usps/analytics.svg" alt="Link">
              <h6 class="item-title">SECURE STORAGE</h6>
              <p class="item-text">
                You are keeping the controle over your own exchange and your information is always safely encrypted.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 order-lg-3">

          <ul class="list--usps">
            <li class="item">
              <img class="item-img" src="/assets/images/usps/analytics.svg" alt="Link">
              <h6 class="item-title">SECURE STORAGE</h6>
              <p class="item-text">
                You are keeping the controle over your own exchange and your information is always safely encrypted.
              </p>
            </li>
            <li class="item">
              <img class="item-img" src="/assets/images/usps/analytics.svg" alt="Link">
              <h6 class="item-title">SECURE STORAGE</h6>
              <p class="item-text">
                You are keeping the controle over your own exchange and your information is always safely encrypted.
              </p>
            </li>
            <li class="item">
              <img class="item-img" src="/assets/images/usps/analytics.svg" alt="Link">
              <h6 class="item-title">SECURE STORAGE</h6>
              <p class="item-text">
                You are keeping the controle over your own exchange and your information is always safely encrypted.
              </p>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-12 col-lg-4 order-lg-2 text-center">
          <img class="item-img mw-100" src="/assets/images/devices/i-phone-app.png" alt="Link">
        </div>

      </div>
    </div>
  </section>

  <section class="sizing--section bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-sm-flex align-items-center text-center text-sm-left">
            <h3 class="my-3 mr-sm-3">
              Start trading with CryptoPrins today
            </h3>
            <a class="btn btn-primary" href="">Pricing & Plans</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
