<header class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-center text-sm-left">
          <h1>WHOLE SUITE FOR YOUR CRYPTO BUSINESS.</h1>
          <p class="my-3">
            Take control of the market with PrinceBot.<br />
            Stop Losing and start making money today.
          </p>
          <a class="btn btn-primary my-2" href="">Promo Video</a>
          <a class="btn btn-secondary my-2" href="">How it works</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main role="main">

  <section class="sizing--section bg-white">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-12">
          <h2>
            The daytrade bot that works for you
          </h2>
          <p>
            No more stress watching your cryptocurrency.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <img src="/assets/images/screenshot1.png" class="img-fluid mb-3 mb-md-0" alt="" />
        </div>
        <div class="col-md-4">
          <p>
            A machine learning trading bot
          </p>
          <p>
            With over a 1000 indcators getting trained every second of the day, Prinsbot remembers the best possible trading strategy and responds to the market.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sizing--section bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-sm-flex align-items-center text-center text-sm-left">
            <h2 class="my-3 mr-sm-3">
              Start trading with CryptoPrins today
            </h2>
            <a class="btn btn-primary" href="">Pricing & Plans</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
